/* about section internal styles */

.about-section-container {
  width: 100%;
  max-width: 1200px;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.about-main-title-container {
  width: 80%;
  margin: 0 auto;
}

.about-main-title {
  font-weight: 600;
  font-size: clamp(1.5rem, 4vw, 2.25rem);
  text-align: center;
}

.about-features-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 80%;
}

.analytics-icon {
  width: clamp(3rem, 15vw, 6rem);
  height: auto;
  aspect-ratio: 1;
}

.about-description {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  text-align: center;
}

.tech-stack-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 80%;
}

.about-project-title {
  font-weight: 600;
  font-size: clamp(1.5rem, 4vw, 2.25rem);
}

.about-project-description {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  text-align: center;
  margin-bottom: 2rem;
}

.tech-stack-section {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.tech-stack-title {
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 600;
}

.tech-stack-icon {
  width: clamp(2rem, 5vw, 5rem);
  height: auto;
  aspect-ratio: 1;
}

.tech-name {
  font-size: clamp(0.75rem, 1vw, 2rem);
  text-align: center;
}

.icon-label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
