/* General Styles */

.top-items-title {
  font-size: clamp(2rem, 5vw, 5rem);
  padding-left: clamp(1rem, 2vw, 2rem);
}

.stat-description {
  font-size: clamp(1rem, 1vw, 1.25rem);
}

/* Chart Visualisation Styles */

.top-items-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0 auto;
}

.chart-container {
  max-width: 768px;
  min-width: 300px;
  width: 60%;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 4rem;
}

.chart-table-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}

/* Table Visualisation Styles */
.table-vis-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.artist-image {
  border-radius: 4px;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  display: block;
  object-fit: cover;
}

.table-vis-cell {
  padding: 1rem;
  vertical-align: middle;
}

.table-vis-cell-image {
  width: 100px;
}

.table-title {
  font-size: clamp(1rem, 2vw, 2rem);
}

.spotify-logo {
  width: 21px;
  height: 21px;
  object-fit: contain;
}

.spotify-link {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.spotify-link:hover,
.spotify-link:focus {
  transform: scale(1.2);
}

.artist-name {
  font-size: 0.85em;
  color: #666;
  font-weight: normal;
}

.track-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* Anything below tablet size */
@media (max-width: 768px) {
  .chart-container {
    width: 90%;
    margin: 0 auto;
    min-width: unset;
    margin-bottom: 2rem;
    gap: 1.5rem;
  }

  .chart-table-container {
    flex-direction: column;
  }
}
