/* General Styles */

.top-items-title {
  font-size: clamp(2rem, 5vw, 5rem);
  padding-left: clamp(1rem, 2vw, 2rem);
}

.stat-description {
  font-size: clamp(1rem, 1vw, 1.25rem);
}

/* Chart Visualisation Styles */

.top-items-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0 auto;
}

.chart-container {
  max-width: 768px;
  min-width: 300px;
  width: 60%;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.chart-table-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}

/* Table Visualisation Styles */
.table-vis-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist-image {
  clip-path: circle();
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  display: block;
  object-fit: cover;
}

.table-vis-cell {
  padding: 1rem;
  vertical-align: middle;
}

.table-vis-cell-image {
  width: 100px;
}

.table-title {
  font-size: clamp(1rem, 2vw, 2rem);
}

/* Anything below tablet size */
@media (max-width: 768px) {
  .chart-container {
    width: 90%;
    margin: 0 auto;
    min-width: unset;
  }

  .chart-table-container {
    flex-direction: column;
  }
}
