.stats-landing-container {
  min-height: 100vh;
  width: 100%;
  background-image: url("../../assets/gradientBackground.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-landing-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.profile-image,
.last-track-img {
  clip-path: circle();
  width: clamp(60px, 15vw, 100px);
  height: clamp(60px, 15vw, 100px);
  object-fit: cover;
  flex-shrink: 0;
}

.display-name {
  margin: 0;
  font-size: 1.2rem;
}

.stats-landing-title {
  font-size: clamp(2rem, 5vw, 5rem);
  color: #f8f8f8;
  text-align: center;
}

.scroll-indicator {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: black;
  font-size: clamp(1rem, 2vw, 2rem);
}

.user-info-outer-container {
  border-style: dashed;
  min-width: 50%;
  border-color: yellow;
}

.info-subtitle {
  font-weight: normal;
  font-size: 1.5rem;
}

.user-info-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.additional-info-container {
  display: flex;
}

.info-container {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 8px;
  gap: 1rem;
}

.user-info-container {
  display: flex;
  flex-direction: column;
}

.last-track-info {
  display: flex;
  flex-direction: column;
}

/* Arrow animation for the scroll down */
.scroll-arrow {
  display: inline-block;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(3px);
  }
}
